

:root {
    --bg-color: rgb(255 255 255);
    --content-bg-color: rgba(253, 253, 253, 1.0);
    --footer-bg-color: rgba(239, 239, 239, 1.0);
    --title-text-color: rgb(30 21 21);
    --general-text-color: rgba(102, 102, 102, 1.0);
    --link-text-color: rgb(30 21 21);
    --link-text-color-hover: rgb(212 192 192);
    --btn-bg-color: rgb(30 21 21);
    --btn-bg-color-hover: rgb(30 21 21);
    --btn-border-color: rgb(30 21 21);
    --btn-border-color-hover: rgba(52, 73, 94, 1.0);
    --btn-text-color: rgba(236, 240, 241, 1.0);
    --navbar-bg-color: rgba(44, 62, 80, 0.5);
    --navbar-bg-color-scrolled: rgba(44, 62, 80, 0.85);
    --navbar-bg-color-mobile: rgba(44, 62, 80, 0.8);
    --navbar-bg-color-scrolled-mobile: rgba(44, 62, 80, 0.9);
    --navbar-text-color: rgba(253, 253, 253, 1.0);
    --navbar-text-color-hover: rgb(195 185 185);
    --navbar-active-bg-color: rgb(30 21 21);
    --navbar-active-text-color: rgba(253, 253, 253, 1.0);
    --slider-bg-color: rgba(52, 73, 94, 0.25);
    --slider-title-color: rgb(30 21 21);
    --slider-text-color: rgba(253, 253, 253, 1.0);
    --usercp-info-bg-color: rgba(44, 62, 80, 1.0);
    --usercp-info-text-color: rgba(253, 253, 253, 1.0);
    --usercp-section-bg-color: rgb(30 21 21);
    --usercp-section-text-color: rgba(253, 253, 253, 1.0);
    --usercp-item-bg-color: rgb(30 21 21);
    --usercp-item-bg-color-hover: rgb(30 21 21);
    --usercp-item-text-color: rgba(253, 253, 253, 1.0);
    --usercp-item-text-color-hover: rgba(253, 253, 253, 1.0);
    --usercp-item-side-bg-color: rgb(30 21 21);
    --usercp-item-side-bg-color-hover: rgb(30 21 21);
    --usercp-item-side-text-color: rgba(253, 253, 253, 1.0);
    --usercp-item-side-text-color-hover: rgba(253, 253, 253, 1.0);
    --usercp-item-side-text-special-color: rgb(30 21 21);
    --usercp-item-side-text-special-color-hover: #8cb0ea;
    --item-color-exc: #2ff387;
    --item-color-socket-opt: #cc33cc;
    --item-color-socket: #cc66cc;
    --item-color-normal: #ffffff;
    --item-color-life-opt: #8cb0ea;
    --item-color-improved: #f4cb3f;
    --item-color-anc: #0066cc;
    --item-color-anc-setopt: #ffcc66;
    --item-color-nocolor: #f4cb3f;
    --item-color-fenrir: #8cb0ea;
    --item-color-fenrir-gold: #f4cb3f;
    --item-color-errtel-title: #ffffff;
    --item-color-errtel-opt: #8CB0EA;
    --item-color-errtel1: #ff0000;
    --item-color-errtel2: #8cb0ea;
    --item-color-errtel3: #e6bf3c;
    --item-color-errtel4: #26e027;
    --item-color-errtel5: #5b1659;
    --item-tooltip-bg: #1e1515;
    --item-name-bg-color: rgb(30 21 21);
}